<div class="container mt-3" *ngIf="countdownTimers">
  <h1>Welcome to Countdown!</h1>
  <h2>"THE website to visualize and share your events"</h2>
  <hr/>
  <p>Welcome to Countdown! This site was created for people who want to manage their events and discover other events they might like. If you are not signed up, you can already explore other people's public events, but when you join the community the real fun begins!</p>
  <p>Create your own events which will supply you with a timer that counts down until the event. This way you have a precise overview of how much time is remaining until the event takes place. You can share your events with others by making them public, and if they are interesting enough they might even make the top charts</p>
  <p>You can subscribe to other user's public events to keep track of them yoursel, and you can also browse suggestions from which you can create you own new events.</p>
  <hr/>
  <h6>Enjoy your TIME on Countdown!</h6>
</div>
<p id="credentials"><i class="fas fa-feather-alt"></i> Cools Senne | <i class="fas fa-envelope"></i><a href="mailto:r0459629@student.thomasmore.be"> r0459629@student.thomasmore.be</a> | <i class="fas fa-mobile-alt"></i> 0484735918</p>